.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  background-color: var(--bg-block-3);
  border: 1px solid var(--border-2);
  form {
    width: 100%;
    border-radius: 4px;
    .input {
      margin-left: 10px;
      margin-top: 10px;
      &:not(:first-of-type) {
        margin-top: 10px;
      }
      input {
        width: 94%;
        box-sizing: border-box;
        border: 0px solid transparent;
        color: white;
        background-color: var(--input);
        padding: 5px;
        transition: 0.1s background-color;
        &:focus {
          outline: none;
          background-color: var(--input-focus);
        }
        &:-internal-autofill-selected {
          appearance: menulist-button;
          background-color: var(--input) !important;
          background-image: none !important;
          color: var(--font-color-1) !important;
        }
      }
    }
    .buttons {
      button {
        border: none;
        width: 50%;
        border-bottom-left-radius: 4px;
      }
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      border-top: 1px solid var(--border-2);
      :nth-child(2) {
        border-bottom-right-radius: 4px;
        border-left: 1px solid var(--border-2);
      }
      .button {
        position: relative;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-block-3);
        transition: 0.2s background-color;
        width: 50%;
        &:hover {
          cursor: pointer;
          background-color: var(--bg-block-2-hover);
        }
        &:focus {
          outline: none;
        }
        .text {
          position: absolute;
          color: var(--font-color-1);
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          font-size: 12px;
          opacity: 0.85;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .wrongAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: var(--font-wrong);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
  }
}

// @media (max-width: 950px) {
//   .wrapper {
//     position: absolute;
//     z-index: 12;
//     background-color: var(--dark-block-2);
//     border-radius: 0px;
//     border-bottom-left-radius: 4px;
//     border-left: 1px solid var(--dark-border-3);
//     border-bottom: 1px solid var(--dark-border-3);
//     width: 210px;
//     right: 0px;
//     top: 100%;
//     form {
//       .input {
//         input {
//           background-color: var(--dark-input);
//         }
//       }
//       .buttons {
//         .button {
//           background-color: var(--dark-block-2);
//         }
//       }
//     }
//   }
// }