.wrapper {
  position: relative;
  width: 31%;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 25px;
  &:hover {
    .itemInner {
      .content {
        .image {
          transform: scale(1.05) translateZ(0);
        }
      }
    }
  }
  &.isMobile {
      width: 48%;
  }
  .itemInner {
    height: 0px;
    padding-top: 65%;
    .content {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      .image {
        height: 100%;
        width: fit-content;
        transform: scale(1) translateZ(0);
        transition: 0.3s transform;
      }
      .title {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-block-transparent-1);
        color: var(--font-color-1);
      }
      .completed {
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 5px 20px;
        background-color: rgb(20, 20, 20);
        color: var(--font-color-1);
      }
    }
  }
}