.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  .point {
    position: relative;
    width: 38px;
    height: 23px;
    background-color: #3c3c3c;
    display: inline-block;
    box-sizing: border-box;
    transition: .1s background-color;
    &:first-child {
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
    }
    &:last-child {
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
    }
    &:not(:first-child) {
      margin-left: 2px;
    }
    &.wrong {
      background-color: var(--border-wrong);
    }
    &.right {
      background-color: var(--border-right);
    }
  }
}
