.wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  .progressBarWrap {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .barFinished {
      width: 230px;
    }
    .resultWrap {
      width: 100%;
      transition: 0.5s opacity, 0.5s visibility;
    }
    .quiz {
      position: relative;
      width: calc(100% - 460px);
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: 0.5s opacity, 0.5s visibility;
      &.inactive {
        pointer-events: none;
      }
      &.isMobile {
        width: 100%;
      }
      .imageWrap {
        position: relative;
        height: 67%;
        width: 100%;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        background-color: rgb(29, 29, 29);
        .image {
          height: 100%;
        }
        .score {
          position: absolute;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          right: 5px;
          top: 5px;
          border: 3px solid #3d8848;
          background-color: #0000009a;
          color: #3d8848;
          font-weight: bold;
          font-size: 13px;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          font-style: italic;
          align-items: center;
        }
      }
      .questions {
        position: relative;
        padding: 5px;
        position: relative;
        height: 33%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .question {
          background-color: #484848;
          transition: 0.2s background-color;
          font-size: 28px;
          line-height: 30px;
          box-sizing: border-box;
          padding-left: 20px;
          border-radius: 8px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 20%;
          &:not(:first-child) {
            border-top: 4px solid #222222;
          }
          &:hover {
            cursor: pointer;
            background-color: #5a5a5a;
          }
          &.wrong {
            background-color: var(--button-wrong);
          }
          &.right {
            background-color: var(--button-right);
          }
        }
      }
    }
    &.hide {
      .quiz {
        opacity: 0;
        visibility: hidden;
      }
      .resultWrap {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

@media(max-width: 1300px) {
  .wrapper {
    .content {
      .quiz {
        .imageWrap {
          height: 55%;
        }
        .questions {
          height: 45%;
        }
      }
    }
  }
}
@media(max-width: 1100px) {
  .wrapper {
    .content {
      .quiz {
        .questions {
          .question {
            border-radius: 0px;
          }
        }
      }
    }
  }
}