.wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  .content {
    overflow: hidden;
    .quiz {
      position: relative;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      &.inactive {
        pointer-events: none;
      }
      .imageWrap {
        position: relative;
        height: 67%;
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        background-color: rgb(29, 29, 29);
        .image {
          height: 100%;
        }
      }
      .questions {
        position: relative;
        padding: 5px;
        position: relative;
        height: 33%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .question {
          background-color: #6e6e6e;
          transition: 0.2s background-color;
          font-size: 32px;
          box-sizing: border-box;
          padding-left: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 20%;
          &:not(:first-child) {
            border-top: 4px solid #222222;
          }
          &:hover {
            cursor: pointer;
            background-color: #858585;
          }
          &.wrong {
            background-color: #ff5252;
          }
          &.right {
            background-color: #40be34;
          }
        }
      }
    }
    transition: 0.5s opacity, 0.5s visibility;
    &.hide {
      opacity: 0;
      visibility: hidden;
    }
  }
}
