.wrapper {
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5px;

  .item {
    position: relative;
    width: 100%;
    height: calc(20% - 10px);;
    max-height: 153px;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 6px;
    &.right {
      border: 2px solid var(--border-right);
    }
    &.wrong {
      border: 2px solid var(--border-wrong);
    }

    .imageWrap {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .image {
        height: 100%;
      }
    }
  }
}