.wrapper {
  position: relative;
  .statisticsWrap {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    .score {
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
}
