.wrapper {
  position: relative;
  .resultText {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    margin-bottom: 12px;
    .stat {
      font-size: 18px;
    }
  }
  .list {
    position: relative;
    display: flex;
    flex-direction: column;
    .item {
      position: relative;
      display: flex;
      flex-direction: row;
      margin: 8px;
      background-color: #292929;
      border-radius: 12px;
      .imageWrap {
        position: relative;
        width: 300px;
        min-width: 300px;
        height: 200px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        background-color: rgb(29, 29, 29);
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        .right, .score {
          position: absolute;
          top: 5px;
          width: 40px;
          height: 40px;
          background-color: #000000c2;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          border: 3px solid #3d8848;
          &.right {
            left: 5px;
            .image {
              width: 20px;
              height: 20px;
            }
          }
          &.score {
            right: 5px;
            color: #3d8848;
            font-weight: bold;
            font-size: 12px;
            font-style: italic;
          }
        }
        .image {
          height: 100%;
        }
      }
      .questions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 15px;
        width: 100%;
        .question {
          position: relative;
          height: 20%;
          transition: 0.2s background-color;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          &:not(:first-child) {
            border-top: 2px solid #222222;
          }
          .tickCross {
            width: 20px;
            min-width: 20px;
            height: 100%;
            display: flex;
            align-items: center;
            .image {
              width: 20px;
              height: 20px;
            }
          }
          .text {
            display: flex;
            align-items: center;
            margin-left: 10px;
            font-size: 20px;
            line-height: 16px;
            color: var(--font-color-1);
            &.right {
              color: var(--right);
            }
            &.wrong {
              color: var(--wrong);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .wrapper {
    .list {
      flex-direction: row;
      flex-wrap: wrap;
      .item {
        width: calc(50% - 20px);
      }
    }
  }
}
@media (max-width: 1000px) {
  .wrapper {
    .list {
      .item {
        .imageWrap {
          width: 200px;
          min-width: 200px;
          height: 130px;
          .right {
            width: 30px;
            height: 30px;
            .image {
              width: 15px;
              height: 15px;
            }
          }
        }
        .questions {
          .question {
            .tickCross {
              width: 15px;
              .image {
                width: 15px;
                height: 15px;
              }
            }
            .text {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
