.wrapper {
  position: relative;
  .item {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 8px 0;
    border-bottom: 2px solid #6e6e6e;
    &:first-child {
      border-top: 2px solid #6e6e6e;
    }
    .imageWrap {
      position: relative;
      width: 300px;
      height: 200px;
      display: flex;
      justify-content: center;
      overflow: hidden;
      background-color: rgb(29, 29, 29);
      .image {
        height: 100%;
      }
    }
    .questions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 15px;
      .question {
        position: relative;
        transition: 0.2s background-color;
        font-size: 24px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        .tickCross {
          width: 30px;
          height: 30px;
          &.wrong {
            background-image: url("./../../../assets/images/cross.svg");
          }
          &.right {
            background-image: url("./../../../assets/images/tick.svg");
          }
        }
        .text {
          display: inline-block;
          margin-left: 15px;
        }
      }
    }
  }
  .resultText {
    text-align: center;
    font-size: 24px;
    padding-bottom: 8px;
    border-bottom: 2px solid #6e6e6e;
  }
}
