.wrapper {
  position: relative;
  width: 100%;
  height: 55px;
  background-color: var(--bg-block-1);
  display: flex;
  flex-direction: row;

  .item {
    padding: 0 10px;
    height: inherit;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--font-link-1);
    transition: .1s color;
    &:hover {
      color: var(--font-link-1-hover);
    }
  }
}