.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  font-size: 18px;
  background-color: var(--bg-block-1);
  .menuItems {
    display: flex;
    flex-direction: row;
    height: 100%;
    .item {
      padding: 0 10px;
      height: inherit;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--font-link-1);
      transition: .1s background-color;
      &:hover {
        background-color: rgb(51, 51, 51);
      }
    }
  }
  .loginWrap {
    height: 100%;
    .buttonAuth {
      width: 100%;
      height: 100%;
      padding: 0 15px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      color: var(--font-link-1);
      transition: .1s background-color;
      &:hover {
        cursor: pointer;
        background-color: rgb(51, 51, 51);
      }
    }
    .authBlock {
      position: absolute;
      top: 60px;
      right: 5px;
      z-index: 1;
    }
    .login {
      display: flex;
      flex-direction: row;
      height: 100%;
      .user, .logoutButton {
        padding: 0 15px;
        display: flex;
        align-items: center;
        transition: .1s background-color;
        &:hover {
          cursor: pointer;
          background-color: rgb(51, 51, 51);
        }
      }
      .user {
        color: var(--font-user);
        font-weight: bold;
      }
      .logoutButton {
        color: var(--font-link-1);
      }
    }
  }
}