.wrapper {
  height: 120px;
  padding: 5px 10px;
  background-color: var(--bg-block-1);
  border-radius: 8px;
  .scores {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: fit-content;
    .scoresCollumn {
      width: 20px;
      min-height: 1px;
      margin: 0 2px;
      background-color: dimgrey;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }
}