.page {
  --bg-page-1: #000000;
  --bg-page-2: #222222;
  --bg-block-1: #2b2b2b;

  --bg-block-transparent-1: #0000008c;

  --font-color-1: #e7e7e7;
  
  --font-link-1: #6766b8;
  --font-link-1-hover: #7472e7;

  position: relative;
  width: 100%;
  background-color: var(--bg-page-1);
  color: var(--font-color-1);
  .wrapper {
    margin: 0 auto;
    background-color: var(--bg-page-2);
    max-width: 1600px;
    min-height: 1000px;
    user-select: none;
  }
}