@import './assets/MAIN_COLORS.scss';

.page {
  position: relative;
  width: 100%;
  background-color: var(--bg-page-1);
  color: var(--font-color-1);
  .wrapper {
    margin: 0 auto;
    background-color: var(--bg-page-2);
    max-width: 1900px;
    min-height: 100%;
    user-select: none;
  }
}