.page {
  --wrong: #a74040;
  --right: #3d8848;

  --bg-page-1: #000000;
  --bg-page-2: #222222;
  --bg-block-1: #2b2b2b;
  --bg-block-2: #3a3a3a;
  --bg-block-2-hover: #494949;
  --bg-block-3: #272727;
  --bg-block-3-hover: #333333;

  --border-wrong: #a74040;
  --border-right: #3d8848;

  --border: #313131;
  --border-2: #444444;
  --border-3: #5a5a5a;
  --border-4: #818181;

  --button-wrong: #a74040;
  --button-right: #3d8848;

  --bg-block-transparent-1: #0000008c;

  --font-color-1: #e7e7e7;
  --font-wrong: #ad2b2b;
  
  --font-link-1: #6766b8;
  --font-link-1-hover: #7472e7;

  --registration-bg: #000000b0;
  --input: #464646;
  --input-focus: #535353;

  position: relative;
  width: 100%;
  background-color: var(--bg-page-1);
  color: var(--font-color-1);
  .wrapper {
    margin: 0 auto;
    background-color: var(--bg-page-2);
    max-width: 1900px;
    min-height: 100%;
    user-select: none;
  }
}