.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .item {
    position: relative;
    width: 400px;
    height: 250px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 0 25px;
    &:hover {
      .image {
        transform: scale(1.05) translateZ(0);
      }
    }
    .image {
      height: 100%;
      width: fit-content;
      transform: scale(1) translateZ(0);
      transition: .3s transform;
    }
    .title {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--bg-block-transparent-1);
      color: var(--font-color-1);
    }
  }
}