.wrapper {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--registration-bg);
  opacity: 0;
  transition: .5s opacity;
  &.show {
    opacity: 1;
  }
  .registrationBlock {
    position: relative;
    width: 370px;
    height: 295px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-block-3);
    border-radius: 4px;
    .title {
      display: inline-block;
      font-size: 22px;
      margin-top: 20px;
    }
    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      border-radius: 4px;
      border: 0px;
      transition: .2s background-color;
      background-color: transparent;
      &:hover {
        cursor: pointer;
      }
      img {
        width: 25px;
        height: 25px;
      }
    }
    form {
      display: inline-block; 
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .line {
      position: relative;
      margin-top: 8px;
      label {
        margin-right: 10px;
        color: var(--font-wrong);
      }
      input {
        width: 300px;
        box-sizing: border-box;
        border: 0px solid transparent;
        color: var(--dark-font);
        background-color: var(--input);
        padding: 8px;
        margin-right: 23px;
        transition: 0.1s background-color;
        &:focus {
          outline: none;
        }
        &:-internal-autofill-selected {
          appearance: menulist-button;
          background-color: var(--input) !important;
          background-image: none !important;
          color: var(--font-color-1) !important;
        }
      }
      .error {
        position: absolute;
        left: 325px;
        top: 8px;
        font-size: 13px;
        color: var(--font-wrong);
        width: max-content;
      }
      &.buttons {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 57px;
        button {
          padding: 10px;
          background-color: var(--bg-block-3);
          border: 0px;
          transition: .2s background-color;
          color: white;
          border-top: 1px solid var(--border-2);
          font-size: 17px;
          &:hover {
            cursor: pointer;
            background-color: var(--bg-block-3-hover);
          }
          &:focus {
            outline: none;
            background-color: var(--bg-block-3);
          }
          &.submit {
            width: 70%;
            height: 100%;
            left: 10px;
            bottom: 10px;
            border-bottom-left-radius: 4px;
          }
          &.closeButton {
            border-left: 1px solid var(--border-2);
            height: 100%;
            width: 30%;
            right: 10px;
            bottom: 10px;
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }
}